<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.amlcurran.lpreviewdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DefaultThemeWidgetsActivity" />

        <activity android:name=".CustomThemeWidgetsActivity"
                android:theme="@style/AppTheme.Custom" />

        <activity android:name=".TransitionEntryActivity" />

        <activity android:name=".TransitionLargeImageActivity" />

        <activity android:name=".CardViewActivity" />

        <activity android:name=".StateListAnimationActivity" />

        <activity android:name=".DesaturateActivity" />

        <activity android:name=".PaletteActivity" />
    </application>

</manifest>
